# Node
node_modules/
npm-debug.log

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Vite
dist/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Build
build/